body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xs: 12px;
    --font-size-base: 16px;
    --font-size-2xs: 11px;
    --font-size-sm: 14px;
    --font-size-mid: 17px;
  
    /* Colors */
    --color-white: #fff;
    --color-darkslategray-100: #273240;
    --color-ghostwhite-100: #f6f6fb;
    --color-ghostwhite-200: #f1f2f7;
    --color-gray-100: rgba(0, 0, 0, 0.5);
    --color-gray-200: rgba(0, 0, 0, 0.2);
    --color-gray-300: rgba(8, 36, 49, 0.5);
    --color-darkslateblue: #5a67ba;
    --color-black: #000;
    --color-cornflowerblue-100: #6999fa;
    --color-cornflowerblue-200: #4f80e1;
    --color-cornflowerblue-300: rgba(79, 128, 225, 0.15);
    --color-cornflowerblue-400: rgba(105, 153, 250, 0.09);
  
    /* Gaps */
    --gap-xl: 20px;
    --gap-xs: 12px;
    --gap-5xl-3: 24.3px;
    --gap-21xl: 40px;
    --gap-12xs-5: 0.5px;
    --gap-5xl: 24px;
  
    /* Paddings */
    --padding-9xs: 4px;
    --padding-3xs: 10px;
    --padding-mini: 15px;
    --padding-4xs: 9px;
    --padding-xl: 20px;
    --padding-10xs: 3px;
    --padding-9xs-1: 3.1px;
    --padding-7xs: 6px;
    --padding-sm: 14px;
    --padding-smi: 13px;
    --padding-6xs: 7px;
    --padding-5xs: 8px;
  
    /* Border radiuses */
    --br-8xs: 5px;
    --br-5xs: 8px;
    --br-3xs: 10px;
    --br-xs: 12px;
    --br-5xs-7: 7.7px;
  }